{% extends "base.html" %}

{% block title %}
    Edit Update
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1> Edit Update</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button>Save edit</button>
            </form>
        </div>
    </main>
{% endblock content %}
