{% extends "base.html" %}

{% block title %}
    Projects
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>Task</h1>
            <div class="task_title_div">
                <p>{{ task.name }}</p>
                <p>{{ task.is_complete }}</p>
                <p><a href="{% url "edit_task" task.id %}">Edit task</a></p>
            </div>
            <div class="task_date_div">
                <p>Start Date: {{ task.start_date }}</p>
                <p>Due date: {{ task.due_date }}</p>
            </div>
            <a href="{% url "create_update" task.id %}">New Update</a>
            <table>
                <thead>
                    <tr>
                        <th>Update</th>
                        <th>Created</th>
                        <th>Modified</th>
                    </tr>
                </thead>
                <tbody>
                    {% for update in task.updates.all %}
                        <tr>
                            <td><a href="{% url "edit_update" update.id %}">{{ update.title }}</a></td>
                            <td>{{ update.created }}</td>
                            <td>{{ update.modified }}</td>
                        </tr>
                        <tr>
                            <td colspan="3">{{ update.notes|safe }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
